:root {
  --bg-color: #222427;
  --text-color: #c1c0b5;
  --sub-color: #646669;
  --sub-alt-color: #2c2e31;
  --highlight-color: #e2b514b9;

  --error-color: #ca4754;
  --error-extra-color: #7e2a33;
  --colorful-error-color: #ca4754;
  --colorful-error-extra-color: #7e2a33;

  --font-default: "Roboto Mono", monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-default);
  height: 100vh;
  background-color: var(--bg-color);
  color: var(--text-color);
}

a {
  text-decoration: none;
  color: var(--text-color);
}

ul {
  list-style: none;
}

svg {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  margin-bottom: 20px;
  font-size: 1.6em;
}

.header div a {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: solid var(--highlight-color);
}

.header div a svg {
  font-size: 1.2em;
  margin-right: 5px;
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header ul li {
  margin-left: 20px;
}

.brand a:hover,
.header ul li svg:hover,
.header ul li a svg:hover {
  animation: interact-hover 0.1s forwards;
}

.notes {
  padding: 20px;
  margin: 0 10% 0 10%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.note {
  min-height: 30px;
  max-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  padding: 8px;
  background: var(--sub-alt-color);
  position: relative;
}

.note h3 {
  font: normal normal 0.85em, var(--font-default);
  margin-bottom: 0.8em;
}

.note p {
  font-size: 0.8em;
  line-height: 1.5;
  text-align: left;
  overflow-wrap: anywhere;
  text-overflow: ellipsis;
  overflow: hidden;
}

@keyframes interact-hover {
  0% {color: var(--text-color)}
  100% {color: var(--sub-color)}
}

@media (max-width: 800px) {
  .notes {
    grid-template-columns: repeat(2, 1fr);
  }
}
