:root {
  --bg-color: #222427;
  --text-color: #c1c0b5;
  --sub-color: #646669;
  --sub-alt-color: #2c2e31;
  --highlight-color: #e2b5147f;

  --font-default: "Roboto Mono", monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

[data-theme="light"] {
  --bg-color: #e2e2e0;
  --text-color: #222427;
  --sub-color: #020003;
  --sub-alt-color: #dbdbd9;
}

body {
  font-family: var(--font-default);
  height: 100vh;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.5s, color 0.5s;
}

a {
  text-decoration: none;
  color: var(--text-color);
  transition: color 0.5s;
}

ul {
  list-style: none;
}

svg {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

::-webkit-scrollbar {
  display: none;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  margin-bottom: 20px;
  font-size: 1.6em;
}

.brand a {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 0.25em double var(--highlight-color);
  transition: margin 0.5s;
}

.brand a:hover {
  margin-left: 20px;
}

.header div a svg {
  font-size: 1.2em;
  margin-right: 5px;
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header ul li {
  margin-left: 20px;
}

.brand, .header ul li svg, .header ul li a svg {
  transition: color 0.15s;
}

.brand a:hover,
.header ul li svg:hover,
.header ul li a svg:hover {
  color: var(--sub-color);
}

.notes {
  padding: 20px;
  margin: 0 10% 0 10%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.note {
  min-height: 30px;
  max-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  padding: 8px;
  background: var(--sub-alt-color);
  transition: background-color 0.5s;
  border-radius: 10px;
  position: relative;
}

.note h3 {
  font: normal normal 0.85em, var(--font-default);
  margin-bottom: 0.8em;
}

.note p {
  font-size: 0.8em;
  line-height: 1.5;
  text-align: left;
  overflow-wrap: anywhere;
  text-overflow: ellipsis;
  overflow: hidden;
}

@media (max-width: 600px) {
  .notes {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}
